#App{
    width: 100vw; /* important consideration */
    height: 100vh;/* important consideration */
    overflow-x:hidden; /* overflow-x:hidden; important consideration */
    background-color: #515151;
    
}

.navbar{
    width: 100%;
    height: 25%;
}

.nav-button{
    position: fixed;
    top: 5%;
    right: 5%;
    height: 100px;
    width: 100px;
    background-color: blue;
    z-index: 2;
}
.navbar-content{
    position: relative;
    left: 5%;
    height: 100%;
    transform: translateY(-100%);
    background-color: white;
    clip-path: polygon(100% 0, 100% 100%, 5% 25%, 5% 0%);
    z-index: 1;
}
.navbar-item{
    position: relative;
    top: 25%;
    color: black;
}

.slide-down-enter{
    transform: translateY(-100%);
}
.slide-down-enter-active{
    transform: translateY(0%);
    transition: transform 250ms;

}
.slide-down-enter-done{
    transform: translateY(0);

}
.slide-down-exit{
    transform: translateY(0);
}
.slide-down-exit-active{
    transform: translateY(-100%);
    transition: transform 250ms;

}
.slide-down-exit-done{
    transform: translateY(-100%);

}



/*
.fade-appear{
    opacity: 0;
}
.fade-appear-active{
    opacity: 1;
    transition: opacity 1000ms;
}
.fade-appear-done{
    opacity: 1;
}
*/

.fade-enter{
    opacity: 0;
}
.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms;
}
.fade-enter-done{
    opacity: 1;
}

.fade-exit{
    opacity: 1;
}
.fade-exit-active{
    opacity: 0;
    transition: opacity 1000ms;
}
.fade-exit-done{
    opacity: 0;
}


.grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.line{
    position: absolute;
    background:#6699CC;
}

/* grid row loading animation */
.line-row-appear{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.line-row-appear-active{
    height: 1px;
    width: 100%;
    left: 0% !important;
    border-radius: 0%;
    transition-property: left, width, border-radius, height;
}
.line-row-appear-done{
    height: 1px;
    width: 100%;
    left:0% !important;
}

/* grid col loading animation */
.line-col-appear{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.line-col-appear-active{
    height: 100%;
    width: 1px;
    top: 0% !important;
    border-radius: 0%;
    transition: top, height, border-radius, width;
    
}
.line-col-appear-done{
    height: 100%;
    width: 1px;
    top: 0% !important;

}


