#App{
    width: 100vw; /* important consideration */
    height: 100vh;/* important consideration */
    overflow-x:hidden; /* overflow-x:hidden; important consideration */
    background-color: black;
    
}
.nav{
    width: 100%;
    height: 25%;
    background-color: white;
    clip-path: polygon(100% 0, 100% 100%, 5% 25%, 5% 0%);
    z-index: 2;
}
.nav-content{
    position: relative;
    left: 5%;
    height: 100%;
}
.nav-item{
    position: relative;
    top: 25%;
    color: black;
}


.grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.line{
    position: absolute;
    background: transparent;
    background:blue;
    z-index: 1;
}

.line-row-appear{
    height: 100%;
    width: 2%;
}
.line-row-appear-active{
    height: 100%;
    width: 2%;
    transition: height 2s linear;
}
.line-col-appear{
    height: 100%;
    width: 2px;
}
.line-row-appear-active{
    height: 100%;
    width: 2%;
    transition: height 2s linear;
}
