html {
   font-size: 25%;
}
#App{
    width: 100vw; /* important consideration */
    height: 100vh;/* important consideration */
    overflow-x:hidden; /* overflow-x:hidden; important consideration */
    
    /*background-color: #515151; */
    
}



.navbar{
    width: 100%;
    height: 25%;
}

.nav-open-button{
    position: absolute;
    top: 5%;
    right: 5%;
    color :#F5F5F5; 
    font-size: 30px;
    z-index: 1;
}
.nav-close-button{
    position: absolute;
    left:5%;
    top: 5%;
    margin-left: 10px;
    padding-left: 10px;
    color : #515151; 
    font-size: 30px;
    z-index: 1;
}

.navbar-content{
    position: relative;
    left: 5%;
    height: 100%;
    transform: translateY(-100%);
    background-color:#F5F5F5;
    clip-path: polygon(100% 0, 100% 100%, 0% 0%);
    z-index: 1;
}
.navbar-item{
    position: relative;
    top: 25%;
    color: black;
}

.slide-down-enter{
    transform: translateY(-100%);
}
.slide-down-enter-active{
    transform: translateY(0%);
    transition: transform 400ms;

}
.slide-down-enter-done{
    transform: translateY(0);

}
.slide-down-exit{
    transform: translateY(0);
}
.slide-down-exit-active{
    transform: translateY(-100%);
    transition: transform 250ms;

}
.slide-down-exit-done{
    transform: translateY(-100%);

}



/*
.fade-appear{
    opacity: 0;
}
.fade-appear-active{
    opacity: 1;
    transition: opacity 1000ms;
}
.fade-appear-done{
    opacity: 1;
}
*/


.fade-out-enter{
    opacity: 1;
}
.fade-out-enter-active{
    opacity: 0;
    transition: opacity 1000ms;
}
.fade-out-enter-done{
    opacity: 0;
}

.fade-out-appear{
    opacity: 1;
}
.fade-out-appear-active{
    opacity: 0;
    transition: opacity 1000ms;
}
.fade-out-appear-done{
    opacity: 0;
}

/*
.fade-exit{
    opacity: 1;
}
.fade-exit-active{
    opacity: 0;
    transition: opacity 1000ms;
}
.fade-exit-done{
    opacity: 0;
}
*/



.grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

}



.hero {
    height:75vh;
    width: 100vw;
}




